%button{:class => "btn btn-small btn-primary", :id => "poke-user", :'data-id' => user_id}
        %i{:class => "fam-tux"}
        %span Throw penguin
%span{:class =>'text-success', :style => "display:none"}Your penguin has been dispatched