- user_id ||= false
- dummy   ||= false
%a{:href => ("/users/#{user_id}/star/set" unless dummy), :class => "btn btn-small btn-primary", :id => "star-user", :"data-signup-prompt" => ('true' if dummy)}
  %i{:class => "fam-award-star-add"}
  %span Star user