#nav
  %p This stuff will be done in application layout
  %ul
    %li signed in / signed in as JAMES
    %li dashboard
    %li my messages
    %li Viewed x times today!

#main.col-md-4

  #avatar
    avatar

  #username{ :style => "background-color: red;" }

  age

  location

  qualities

#footer
