#nav
  %p This stuff will be done in application layout:
  %ul
    %li signed in
    | signed in as JAMES
    %li dashboard
    |
    %li my messages
    |
    %li Viewed x times today!

#main.row

  #profile.col-md-3

    #avatar

  #info.col-md-8

    #name_age_location
      %ul.list-inline
        %li.text-primary.h1 username
        %li.text-primary.h5 age,
        %li.text-primary.h5 location
        |
        %li.text-primary.h5 send message
        %li.text-primary.h5 poke
        %li.text-primary.h5 star
    #tagline.h4
      You won't find a better man. I'm fab.

    #bio
      %p
      Hi, my name is James and I am an expert in PHP. I love to cook; my favourite fish is sea bass, and at the weekends I like to adopt rabbits and name them after characters in Eastenders.
      %p
      I'm looking for a sophisticated lady who also enjoys listening to "Hotel California" on a loop for at least 3 hours per day.
      %p
      Must have green eyes and like doughnuts.

    #qualities
      %ul
        %li link GitHub account: "https://github.com/frogatto/frogatto"
        %li tag: cyborgs
        %li tag: WoW
        %li tag: D&D
        %li Other languages: Cantonese
        %li Favourite colour: Navy
        %li link Pinterest: "http://www.pinterest.com/wheelsup/lol-cats/"

#footer

  This stuff will be in application layout's footer.