.container.col-md-12

  #main_header
  %h1 Dashboard
  =image_tag (current_user.avatar.search)
  
  #div_header
    #header
    %h3 Newsfeed

  #div.row.col-md-8
    #div.newsfeed
      #div_2
        Poked by {name}

      #div_3
        Messages from:
        #msg_names
          %p {name}
          %p {name}
          %p {name}
          %p {name}

  #div.row2.col-md-4
    #links
      #div_r1
        %p Link_to "Update Profile", edit_user_path
        %br

      #div_r2
        %p Link_to "Looking for" criteria, looking_for_path
        %br

      #div_r3
        %p Link_to "Inbox", inbox_path
        %br

      #div_r4
        %p Link_to "My Account", account_path
        %br

      #div_r5
        %p Starred List (value on page),
        %br

      #div_r6
        %p Stars (value on page),
        %br

      #div_r7
        %p Number of times Profile viewed,
        %br

