!!!
%html
  %head
    %title About Us

  %body
    .dialog
      / %p.right
      /   = image_tag("")
      %h1 About Us!
      %h2 We're just a bunch of caring people who noticed that geeks need love, too.
      %p Sophie, Oli, Winna and Sharif are an agile development team of four good-looking, socially-able individuals (so we don't have a problem with this stuff) who astutely clocked that there are a lot of lonely people out there.
      %p So, out of the kindness of our <3's we creater Hacker Love.
      %p You're welcome.
