!!!
%html
  %head
    %title The page you were looking for doesn't exist (404)

  %body
    .dialog
      %p.right
        = image_tag("404img.jpg")
      %h1 Four-oh-PHWOAARR!
      %p The page you were looking for doesn't exist:
      %p You may have mistyped the address or the page may have moved.
      %p ...but you're lookin' fine so I don't mind!
      - puns = ["Love life gone off the RAILS? You're in the right place!", "Made a HASH of dating in real life? Welcome to Hacker <3!", "Think non-techies are BANG! out of order? So do we!", "Single && a programmer? This site is for you!", "Sign up as a premium member. You will != disappointed...", "Why not GET on Hacker Love and POST your profile Time.now?", "httP'D OFF with normal dating sites? You were right to come to us!", "Know all the programming languages, but not the language of love? Welcome to Hacker <3", "Failed to underSCORE lately? Try your luck on Hacker Love!", "Do you put the 'fun' in FUNCTION? Great - why not sign up today?", "Does your personality light up the room like an arRAY of sunshine? We could use you on Hacker Love", "Tired of UI and want to be U and I? Then sign up today!", "Time to GIT BRANCH-out and find someone new? Sign up and maybe you'll PULL a hottie!", "Can I access your attribute accessible? Or maybe insert my column? No? Okay, maybe you should flag me - I'm obviously a creep.", "Do you have the FOREIGN KEY to my heart? You *do*? Oh, please sign up to Hacker Love."]
      .highlight
        =puns.sample

