!!!
%html
  %head
    %title The page you were looking for doesn't exist (404)

  %body
    .dialog
      %p.right
        = image_tag("404img.jpg")
      %h1 Four-oh-PHWOAARR!
      %p The page you were looking for doesn't exist:
      %p You may have mistyped the address or the page may have moved.
      %p ...but you're lookin' fine so I don't mind!
