!!!
%html
  %head
    %title There was a server error (500)

  %body
    .dialog
      %h1 The page you were looking for doesn't exist.
      %p You may have mistyped the address or the page may have moved.
      %p ...but you're lookin' fine so I don't mind!
