/* DASHBOARD */
#main.header {
  margin: 10px;
}

#header {
  background-color: pink;
}

#div.newsfeed {
  margin: 10px;
}

#links {
  margin: 10px;
}

#div.row {
  margin-left: auto;
}

#div.row2 {
  border-left: 3px solid black;
  background-color: grey;
}

#div_2 {
  background-color: grey;
  margin-top: 25px;
}

#div_3 {
  background-color: black;
  margin-top: 25px;
  color: white;
}

#msg_names {
  margin-top: 15px;
}

#home_header {
  margin: 50px;
}

#home_form {
  text-align: center;
  margin-top: 150px;
  border: solid black thin;
  border-width: 10px;
  /*width: 400px;*/
}

.fieldset {
  border: none;
  margin: 0 0 0 -10px;
  padding: 20px;
}

.required::after{
  content: " *";
}

.clear-emphasis{
  font-weight: normal;
}

.password-hint::after{
  content: " * note: minimum 6 characters";
}

nav{
  padding: 10px 0;
}

nav > p{
  display: inline-block;
  margin-right: 10px;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav > ul > li{
  display: inline-block;
  padding: 10px;
  background: #DEDEDE;
  margin: 0 5px 0 0;
  border: none;
  color: navy;
}

nav > ul > li > a{
  color: gray;

.newsfeed-item {
  padding:10px;
  background:#e1e1e1;
  margin:0 0 20px 0;
}

