$spacing: 3px 0px; /* for use in development -  showing where divs end*/
$smallspacing: 5px 20px;
$color1: #75a40a; /* green */
$color2: #f57e20; /* orange */
$color3: #03345c; /* dark blue */
$color4: #b7d3e0; /* pale blue */
$color5: #0784ab; /* mid blue */
$radius: 25px 0px 25px 0px;


div {
  border: 2px solid blue;
  margin: $spacing;
  padding: $smallspacing;
}

#nav {
  background-color: $color5;
  color: $color3;
  font-weight: bold;
  border: 2px solid $color2;
  text-align: center;
    ul li {
      display: inline-block;
    }
}

#main {
  background-color: black;
}

#profile {
  background-color: $color3;
  width: auto;
}

#avatar {
  height: 200px;
  width: 200px;
  background-image: url("http://mocsconnect.com/s/1341/images/gid3/editor/2013/person-placeholder.jpg");
  background-size: 100% 100%;
  border: 2px solid $color2;
}

#name_age_location {
  border: 2px solid $color2;
  color: $color3;
  background-color: $color2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#tagline {
  border: 2px solid $color2;
  color: $color2;
  background-color: $color3;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#bio {
  border-top-right-radius: 50px;

  border: 4px solid $color2;
  border-bottom: 2px solid $color2;
  background-color: $color4;
  color: $color3;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5em;
}


#qualities {
  border: 4px solid $color2;
  border-top: 2px solid $color2;
  background-color: $color3;
  border-radius: 5px;
  border-bottom-left-radius: 50px;
    ul li {
      display: inline-block;
      width: auto;
      line-height: 1em;
      padding: $smallspacing;
      padding-left: 35px;
      border: 3px solid $color3;
      border-radius: 5px;
      background: $color1 url('http://www.maplewiki.net/images/d/d4/Orange_Throwing-Star.gif') left no-repeat;
      background-position: left;
    }
}

#footer {
  height:40px;
  width: 100%;
  background-color: $color5;
  color: $color3;
  text-align: center;
  font-weight: bold;
}